<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" xmlns="http://org.apache.logging.log4j/log4j-core/2.3/log4j-config.xsd">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>