<server>
	<featureManager>
		<feature>jsp-2.3</feature>
		<feature>jndi-1.0</feature>
		<feature>jpa-2.1</feature>
		<feature>jaxrs-2.0</feature>
		<feature>cdi-1.2</feature>
		<feature>ejb-3.2</feature>
	</featureManager>
	<application name='PmsSample' location='PmsSample.war' type='war' context-root='/' />
	<cdi12 enableImplicitBeanArchives='true' />
	<httpEndpoint id='defaultHttpEndpoint' host='*' httpPort='${port}' />
	<webContainer trustHostHeaderPort='true' extractHostHeaderPort='true' />
	<include location='runtime-vars.xml' />
	<logging logDirectory='${application.log.dir}' consoleLogLevel='INFO' />
	<httpDispatcher enableWelcomePage='false' />
	<applicationMonitor dropinsEnabled='false' updateTrigger='mbean' />
	<config updateTrigger='mbean' />

	<dataSource id='pmssamplejee1sqldb' jdbcDriverRef='postgresql-driver' jndiName='jdbc/pmssamplejee1sqldb'
		transactional='true' type='javax.sql.ConnectionPoolDataSource'>
		<properties id='postgresql-props' 
			serverName='pellefant-01.db.elephantsql.com' portNumber='5432'
			databaseName='NAME'	user='NAME'	password='PASSWORD'		
		/>
	</dataSource>

	<jdbcDriver id='postgresql-driver' 
            javax.sql.XADataSource='org.postgresql.xa.PGXADataSource'
            javax.sql.ConnectionPoolDataSource='org.postgresql.ds.PGConnectionPoolDataSource'            
            libraryRef='postgresql-library'/>  

	<library id='postgresql-library'>       
        <fileset id='postgresql-fileset' dir='${server.config.dir}/lib'
			includes='postgresql-jdbc-9.4.1206.jar'/>   
	</library>
</server>